@font-face{
    font-family: bronco;
    src: url(fonts/bronco-font/Bronco-WyGzn.ttf);
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:2000px) {
    .main{
        width: 100%;
        height: fit-content;
        background: #fafafa;
    }
    
    .nav {
        width: 100%;
        height: 90px;
        background: #fff1e1;
        border-bottom: #511a02 solid 2px;
        opacity: 96%;
        display: flex;
        position: fixed;
        z-index: 1;
    }
    
    .nav img {
        width: 130px;
        margin: 5px 20px;
    }
    
    .nav .right img {
        position: relative;
        width: 30px;
        margin-top: 30px;
    }
    
    .nav .right img:hover {
        cursor: pointer;
    }
    
    
    .nav ul{
        width: 100%;
        text-align: center;
    }
    
    .nav ul li {
        display: inline-block;
        list-style: none;
        margin: auto 40px;
        position: relative;
        top: 25%;
        right: 30px;
    }
    
    .nav ul li img {
        width: 30px;
    }
    
    .nav-links {
        width: 0;
        max-height: 400px;
        right: 0;
        top: 90px;
        background: #fff1e1;
        position: fixed;
        border-bottom-left-radius: 10px;
        /* border-left: #511a02 solid 2px;
        border-bottom: #511a02 solid 2px; */
        padding: 0;
        text-align: center;
        transition: width 0.5s;
        z-index: 1;
    }
    
    .nav-links.open-menu {
        width: 100px;
        padding: 5px;
        border-left: #511a02 solid 2px;
        border-bottom: #511a02 solid 2px;
    
    }
    
    .nav-links ul {
        width: 100%;
    }
    
    .nav-links ul li{
        list-style: none;
        margin: 30px auto;
    }
    
    .nav-links ul li a {
        font-family: bronco;
        font-size: 20px;
        text-decoration: none;
        color:#fff1e1;
        background: #511a02;
        width:fit-content;
        border: #511a02 solid 2px;
        border-radius: 10px;
        padding: 5px;
        transition: 0.5s;
    }
    
    .nav-links img {
        width: 100px;
        background: #fff1e1;
        border: #fff1e1;
        color: #fff1e1;
    }
    
    .nav-links ul li a:hover {
        color: #511a02;
        background: #fff1e1;
        box-shadow: 5px 5px 5px;
    }

    .title-wrap {
        width: 100%;
        position: relative;
        top: 80px;
    }

    .title-wrap .title {
        position: absolute;
        width: 100%;
        height: 855px;
        background-image: url("images/horsetraining.jpeg");
        background-size: cover;

    }

    .title h1 {
        width: fit-content;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 70px;
        padding: 5px;
        margin: 10% auto;
        color: #fafafa;
        opacity: 90%;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .main-section {
        position: absolute;
        top: 855px;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 10px;
    }

    .main-section h2 {
        width: fit-content;
        padding: 5px;
        margin: 30px auto;
        font-family: bronco;
        font-size: 70px;
    }

    .main-section .main-paragraph {
        width: 60%;
        padding: 10px;
        margin: 10px auto;
        text-align: justify;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .training-details {
        display: flex;
        align-content: center;
        
    }

    .training-details .prices {
        width: 15%;
        padding: 10px;
        margin: 10px 5% 10px;
        margin-left: 20%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .training-details .details {
        width: 40%;
        padding: 10px;
        margin: 10px 15% 0px 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
    }

    footer {
        position: absolute;
        top: 230%;
        background: #511a02;
        width: 100%;
        height: 150px;
    }

    .footer-content {
        background: #511a02;
        width: 100%;
        display: flex;
        align-content: center;
    }


    .footer-content .end-links {
        width: fit-content;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 30px auto;
    }

    .footer-content .end-links h5 {
        color: #fafafa;
    }

    .footer-content ul {
        width: fit-content;
    }

    .footer-content ul li {
        list-style: none;
        text-decoration: none;
        color:#fafafa;
    }

    .footer-content ul li a {
        color: #fafafa;
        text-decoration: none;
        font-size: small;
    }

    .footer-content .up-arrow {
        width: 100px;
        align-content: center;
    }

    .footer-content .up-arrow img {
        width: 100%;
    }

    .footer-content .media-links {
        width: fit-content;
        margin: auto;
    }

    .footer-content .media-links p {
        color: #fafafa;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: small;
        margin: auto;
    }

    /*.footer-content .media-links a {
        width: 50px;
        padding: 3px;
        margin: 2px;
        align-content: center;
    }*/

    .footer-content .media-links a img {
        width: 50px;
        margin: 5px;
    }

}

@media screen and (max-width:1100px) {

    .nav {
        width: 100%;
        height: 150px;
        background: #fff1e1;
        border-bottom: #511a02 solid 2px;
        opacity: 96%;
        display: flex;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    
    .nav img {
        width: 200px;
        margin: 5px 20px;
    }
    
    .nav .right img {
        position: relative;
        width: 70px;
        margin-top: 30px;
    }
    
    .nav .right img:hover {
        cursor: pointer;
    }
    
    
    .nav ul{
        width: 100%;
        text-align: center;
    }
    
    .nav ul li {
        display: inline-block;
        list-style: none;
        margin: auto 40px;
        position: relative;
        top: 25%;
        right: 30px;
    }
    
    .nav ul li img {
        width: 70px;
    }
    
    .nav-links {
        width: 0;
        max-height: 400px;
        right: 0;
        top: 150px;
        background: #fff1e1;
        position: fixed;
        border-bottom-left-radius: 10px;
        /* border-left: #511a02 solid 2px;
        border-bottom: #511a02 solid 2px; */
        padding: 0;
        text-align: center;
        transition: width 0.5s;
        z-index: 1;
    }
    
    .nav-links.open-menu {
        width: 150px;
        padding: 5px;
        border-left: #511a02 solid 2px;
        border-bottom: #511a02 solid 2px;
    
    }
    
    .nav-links ul {
        width: 100%;
    }
    
    .nav-links ul li{
        list-style: none;
        margin: 30px auto;
    }
    
    .nav-links ul li a {
        font-family: bronco;
        font-size: 40px;
        text-decoration: none;
        color:#fff1e1;
        background: #511a02;
        width:fit-content;
        border: #511a02 solid 2px;
        border-radius: 10px;
        padding: 5px;
        transition: 0.5s;
    }
    
    .nav-links img {
        width: 150px;
        background: #fff1e1;
        border: #fff1e1;
        color: #fff1e1;
    }
    
    .nav-links ul li a:hover {
        color: #511a02;
        background: #fff1e1;
        box-shadow: 5px 5px 5px;
    }

    .title h1 {
        width: fit-content;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 90px;
        padding: 5px;
        margin: 20% auto;
        color: #fafafa;
        opacity: 90%;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .main-section {
        position: absolute;
        top: 855px;
        width: 90%;
        height: 100%;
        padding: 10px;
        margin: 10px;
    }

    .main-section h2 {
        width: fit-content;
        padding: 5px;
        margin: 30px auto;
        font-family: bronco;
        font-size: 70px;
    }

    .main-section .main-paragraph {
        width: 90%;
        padding: 10px;
        margin: 10px auto;
        text-align: justify;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
    }

    .training-details {
        display: flex;
        align-content: center;
        
    }

    .training-details .prices {
        width: 15%;
        padding: 10px;
        margin: 10px 5% 10px;
        margin-left: 15%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
    }

    .training-details .details {
        width: 40%;
        padding: 10px;
        margin: 10px 10% 0px 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: justify;
    }

    footer {
        position: absolute;
        top: 125%;
        background: #511a02;
        width: 100%;
        height: 150px;
    }

}